#####  1) F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
Cutlet_df = pd.read_csv('C:/Users/soumy/documents/hypothesis testing/Cutlets.csv')
Cutlet_df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

assuming the hypothesis

***Null hyposthesis as Ho: μ1 = μ2 (There is no difference in diameters of cutlets between two units)
Alternate hypothesis as Ha: μ1 ≠ μ2 (There is significant difference in diameters of cutlets between two units)***

In [3]:
UnitA= pd.Series(Cutlet_df.iloc[:,0])
UnitA.head()

0    6.8090
1    6.4376
2    6.9157
3    7.3012
4    7.4488
Name: Unit A, dtype: float64

In [4]:
UnitB = pd.Series(Cutlet_df.iloc[:,1])
UnitB.head()

0    6.7703
1    7.5093
2    6.7300
3    6.7878
4    7.1522
Name: Unit B, dtype: float64

In [5]:
t_stat,p_value = stats.ttest_ind(UnitA,UnitB)
p_value

0.4722394724599501

In [6]:
("T_statistic:{0} P_value:{1}".format(t_stat,p_value))

'T_statistic:0.7228688704678063 P_value:0.4722394724599501'

In [7]:
if p_value < 0.05:
    print("We reject null hypothesis")
else:
    print("we accept null hypothesis")

we accept null hypothesis

##### 2) A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch. Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

In [8]:
Lab_df = pd.read_csv('C:/Users/soumy/documents/hypothesis testing/LabTAT.csv')
Lab_df

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

**Null hyposthesis as Ho: μ1 = μ2 (There is no difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list.) Alternate hypothesis as Ha: μ1 ≠ μ2 (There is difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list.)**

In [9]:
f_stat,p_value=stats.f_oneway(Lab_df.iloc[:,0],Lab_df.iloc[:,1],Lab_df.iloc[:,2],Lab_df.iloc[:,3])

In [10]:
p_value

2.1156708949992414e-57

In [11]:
("T_statistic:{0} P_value:{1}".format(t_stat,p_value))

'T_statistic:0.7228688704678063 P_value:2.1156708949992414e-57'

In [12]:
if p_value < 0.05:
    print("We reject null hypothesis")
else:
    print("we accept null hypothesis")

We reject null hypothesis

#### 3. Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

In [13]:
from scipy.stats import chi2_contingency

In [14]:
BR_df = pd.read_csv('C:/Users/soumy/documents/hypothesis testing/BuyerRatio.csv')
BR_df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

**Null Hypothesis Ho: Independence of categorical variables (male-female buyer rations are similar across regions) Alternate Hypothesis Ha: Dependence of categorical variables (male-female buyer rations are NOT similar across regions)**

In [15]:
X=np.array([BR_df.iloc[0,1:],BR_df.iloc[1,1:]])
X

array([[50, 142, 131, 70],
       [435, 1523, 1356, 750]], dtype=object)

In [16]:
pvalue=chi2_contingency(X)

In [17]:
p_value

2.1156708949992414e-57

In [18]:
p_value=pvalue[1]
p_value

0.6603094907091882

In [19]:
if p_value < 0.05:
    print("We reject null hypothesis")
else:
    print("we accept null hypothesis")

we accept null hypothesis

##### 4. TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain % of the customer order forms. Any error in order form renders it defective and has to be reworked before processing. The manager wants to check whether the defective % varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

In [20]:
COF_df = pd.read_csv('C:/Users/soumy/documents/hypothesis testing/Costomer+OrderForm.csv')
COF_df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

**Null Hypothesis Ho: Independence of categorical variables(customer order forms defective % does not varies by centre)
Alternate Hypothesis Ha: Dependence of categorical variables (customer order forms defective % varies by centre)**

In [21]:
COF_df.Phillippines.value_counts()

Phillippines
Error Free    271
Defective      29
Name: count, dtype: int64

In [22]:
COF_df.Indonesia.value_counts()

Indonesia
Error Free    267
Defective      33
Name: count, dtype: int64

In [23]:
COF_df.Malta.value_counts()

Malta
Error Free    269
Defective      31
Name: count, dtype: int64

In [24]:
COF_df.India.value_counts()

India
Error Free    280
Defective      20
Name: count, dtype: int64

In [25]:
X = np.array([[271,267,269,280],[29,33,31,20]])

In [26]:
pvalue = chi2_contingency(X)

In [27]:
pvalue

Chi2ContingencyResult(statistic=3.858960685820355, pvalue=0.2771020991233135, dof=3, expected_freq=array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]]))

In [28]:
p_value = pvalue[1]
p_value

0.2771020991233135

In [29]:
if p_value < 0.05:
    print("We reject null hypothesis")
else:
    print("we accept null hypothesis")

we accept null hypothesis